<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${page_details.getTitle()}">Dashboard</title>

    <div th:replace="fragments/layout-fragments::styles"></div>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="fragments/layout-fragments::preloader"></div>

    <!-- Navbar -->
    <div th:replace="fragments/navbar-fragments::top_navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="fragments/sidebar-fragments::sidebar(user=${user})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div th:replace="fragments/layout-fragments::page_header(title=${page_details.getHeader()})"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-users mr-1"></i>
                                    Citizens
                                </h3>
                                <div class="card-tools">
                                    <ul class="nav nav-pills ml-auto">
                                        <li class="nav-item">
                                            <button type="button" class="btn btn-primary float-right"
                                                    data-title="Citizen Registration"
                                                    data-formtype="0"
                                                    data-id="0"
                                                    data-toggle="modal" data-target="#customer-registration-modal"><i
                                                    class="fas fa-user-plus"></i> Add Citizen
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Province</th>
                                        <th>District</th>
                                        <th>Polling Division</th>
                                        <th>NIC</th>
                                        <th>Full Name</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:id="'ct_table_row_'+${c.getId()}"
                                        th:each="c,iterationStatus:${citizens}">
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${c.getPollingDivision().getProvinceDivisionName()}"></td>
                                        <td th:text="${c.getPollingDivision().getDistrictDivisionName()}"></td>
                                        <td th:text="${c.getPollingDivision().getPollingDivisionName()}"></td>
                                        <td th:text="${c.getNic()}"></td>
                                        <td th:text="${c.getFullName()}"></td>
                                        <td th:text="${c.getGender()}"></td>
                                        <td th:text="${c.getEmail()}"></td>
                                        <td th:text="${c.getMobile()}"></td>
                                        <td>
                                            <button type="button" class="btn btn-success"
                                                    data-title="Citizen Edit"
                                                    th:data-id="${c.getId()}"
                                                    th:data-province="${c.getPollingDivision().getProvinceDivisionId()}"
                                                    th:data-district="${c.getPollingDivision().getDistrictDivisionId()}"
                                                    th:data-division="${c.getPollingDivision().getPollingDivisionId()}"
                                                    th:data-nic="${c.getNic()}"
                                                    th:data-name="${c.getFullName()}"
                                                    th:data-gender="${c.getGenderId()}"
                                                    th:data-birthday="${c.getBirthday()}"
                                                    th:data-email="${c.getEmail()}"
                                                    th:data-mobile="${c.getMobile()}"
                                                    th:data-address="${c.getAddress()}"
                                                    data-formtype="1"
                                                    data-toggle="modal" data-target="#customer-registration-modal"><i
                                                    class="fas fa-user-edit"></i>
                                            </button>
                                            <form th:action="@{/citizen-delete}" method="post">
                                                <input type="number" name="id" hidden th:value="${c.getId()}">
                                                <button type="submit" class="btn btn-danger"><i
                                                        class="fa fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <!--                                    <tr>-->
                                    <!--                                        <td>1</td>-->
                                    <!--                                        <td>Western</td>-->
                                    <!--                                        <td>Colombo</td>-->
                                    <!--                                        <td>A - Colombo North</td>-->
                                    <!--                                        <td>945465666v</td>-->
                                    <!--                                        <td>John Smith</td>-->
                                    <!--                                        <td>Male</td>-->
                                    <!--                                        <td>john@gmail.com</td>-->
                                    <!--                                        <td>+94771234567</td>-->
                                    <!--                                        <td>-->
                                    <!--                                            <button type="button" class="btn btn-success"-->
                                    <!--                                                    data-toggle="modal" data-target="#customer-registration-modal"><i-->
                                    <!--                                                    class="fas fa-user-edit"></i>-->
                                    <!--                                            </button>-->
                                    <!--                                            <button type="button" class="btn btn-danger"><i class="fa fa-trash-alt"></i>-->
                                    <!--                                            </button>-->
                                    <!--                                        </td>-->
                                    <!--                                    </tr>-->
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>No.</th>
                                        <th>Province</th>
                                        <th>District</th>
                                        <th>Polling Division</th>
                                        <th>NIC</th>
                                        <th>Full Name</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="fragments/footer-fragments::footer"></div>

    <!-- Control Sidebar -->
    <div th:replace="fragments/layout-fragments::theme_settings"></div>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!--Begin::Citizen Registration-->
<div th:replace="fragments/modal-fragments::citizen"></div>
<!--End::Citizen Registration-->

<div th:replace="fragments/layout-fragments::scripts"></div>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        // $('#example2').DataTable({
        //     "paging": true,
        //     "lengthChange": false,
        //     "searching": false,
        //     "ordering": true,
        //     "info": true,
        //     "autoWidth": false,
        //     "responsive": true,
        // });
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let isAlertSet = /*[[${alert !=null }]]*/ false;

    if (isAlertSet) {
        var isShowAlert = /*[[${alert?.show}]]*/ 'default';
        var title = /*[[${alert?.header}]]*/ 'default';
        var message = /*[[${alert?.message}]]*/ 'default';
        var type = /*[[${alert?.type}]]*/ 'default';
        if (isShowAlert) {
            showAlert(type, title, message);
        }
    }

    /*]]>*/
</script>

<script>
    $('#customer-registration-modal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let modalTitle = button.data('title');
        let formType = button.data('formtype');
        let id = button.data('id');
        let provinceId = button.data('province');
        let districtId = button.data('district');
        let divisionId = button.data('division');
        let nic = button.data('nic');
        let fullName = button.data('name');
        let gender = button.data('gender');
        let birthday = button.data('birthday');
        let email = button.data('email');
        let mobile = button.data('mobile');
        let address = button.data('address');
        // let userTypeId = button.data('usertypeid');
        let modal = $(this);
        modal.find('.modal-title').text(modalTitle);
        modal.find('#formId').val(id);
        modal.find('#formType').val(formType);
        // document.getElementById("formId").value = id;
        // document.getElementById("formType").value = formType;
        // modal.find('#province').val(provinceId);
        modal.find('#district').val(districtId);
        modal.find('#pollingDivision').val(divisionId);
        modal.find('#nic').val(nic);
        modal.find('#fullName').val(fullName);
        modal.find('#gender').val(gender);
        modal.find('#birthday').val(birthday);
        modal.find('#email').val(email);
        modal.find('#mobile').val(mobile);
        modal.find('#address').val(address);
    });
</script>
</body>
</html>
