<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${page_details.getTitle()}">Dashboard</title>

    <div th:replace="fragments/layout-fragments::styles"></div>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="fragments/layout-fragments::preloader"></div>

    <!-- Navbar -->
    <div th:replace="fragments/navbar-fragments::top_navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="fragments/sidebar-fragments::sidebar(user=${user})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div th:replace="fragments/layout-fragments::page_header(title=${page_details.getHeader()})"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-vote-yea mr-1"></i>
                                    Elections
                                </h3>
                                <div class="card-tools">
                                    <ul class="nav nav-pills ml-auto">
                                        <li class="nav-item">
                                            <button type="button" class="btn btn-info float-right"
                                                    data-title="Election Registration"
                                                    data-formtype="0"
                                                    data-id="0"
                                                    data-toggle="modal" data-target="#election-registration-modal"><i
                                                    class="fas fa-vote-yea"></i> Create an Election
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Election Name</th>
                                        <th>Year</th>
                                        <th>Max Seat Count</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <!--                                        <th>Created By</th>-->
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:id="'el_table_row_'+${e.getId()}"
                                        th:each="e,iterationStatus:${elections}">
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${e.getName()}"></td>
                                        <td th:text="${e.getYear()}"></td>
                                        <td th:text="${e.getMaxSeats()}"></td>
                                        <td th:text="${e.getStartTimeToDisplay()}"></td>
                                        <td th:text="${e.getEndTimeToDisplay()}"></td>
                                        <td th:switch="${e.getElectionStatus()}" style="float: left;position: relative">
                                                <div class="btn-group" th:case="'0'">

                                                    <form th:action="@{/election-change-status}" method="post">
                                                        <input type="number" name="id" hidden th:value="${e.getId()}">
                                                        <input type="number" name="status" hidden value="1">
                                                            <button type="submit" class="btn btn-success">
                                                                <i class="fas fa-play"></i>
                                                            </button>
                                                    </form>
                                                    <button type="button" class="btn btn-primary"
                                                            th:data-electionid="${e.getId()}"
                                                            data-toggle="modal"
                                                            data-target="#election-add-candidates-modal">
                                                        <i class="fas fa-user-plus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-warning"
                                                            data-title="Election Edit"
                                                            data-formtype="1"
                                                            th:data-id="${e.getId()}"
                                                            th:data-name="${e.getName()}"
                                                            th:data-year="${e.getYear()}"
                                                            th:data-seats="${e.getMaxSeats()}"
                                                            th:data-starttime="${e.getStartTimeToDisplay()}"
                                                            th:data-endtime="${e.getEndTimeToDisplay()}"
                                                            data-toggle="modal"
                                                            data-target="#election-registration-modal"><i
                                                            class="fas fa-edit"></i>
                                                    </button>
                                                <form th:action="@{/election-delete}" method="post">
                                                    <input type="number" name="id" hidden th:value="${e.getId()}">
                                                        <button type="submit" class="btn btn-danger"><i
                                                                class="fa fa-trash-alt"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            <div class="btn-group" th:case="'1'">
                                                    <form th:action="@{/election-change-status}" method="post">
                                                        <input type="number" name="id" hidden th:value="${e.getId()}">
                                                        <input type="number" name="status" hidden value="2">
                                                            <button type="submit" class="btn btn-info">
                                                                <i class="fas fa-stop"></i>
                                                            </button>
                                                    </form>
                                            </div>
                                            <div class="btn-group" th:case="*">
                                                    <a th:href="@{election-results(id=${e.getId()})}" type="button" class="btn btn-outline-primary">
                                                        <i class="fas fa-chart-bar"></i>
                                                    </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>No.</th>
                                        <th>Election Name</th>
                                        <th>Year</th>
                                        <th>Max Seat Count</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <!--                                        <th>Created By</th>-->
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="fragments/footer-fragments::footer"></div>

    <!-- Control Sidebar -->
    <div th:replace="fragments/layout-fragments::theme_settings"></div>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!--Begin::Citizen Registration-->
<div th:replace="fragments/modal-fragments::election"></div>
<!--End::Citizen Registration-->
<!--BEGIN::Election Add Candidates-->
<div th:replace="fragments/modal-fragments::election_add_candidates(candidates=${candidates})"></div>

<div th:replace="fragments/layout-fragments::scripts"></div>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#candidates').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
    //Bootstrap Duallistbox
    // $('.duallistbox').bootstrapDualListbox()

</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    let isAlertSet = /*[[${alert !=null }]]*/ false;

    if (isAlertSet) {
        var isShowAlert = /*[[${alert?.show}]]*/ 'default';
        var title = /*[[${alert?.header}]]*/ 'default';
        var message = /*[[${alert?.message}]]*/ 'default';
        var type = /*[[${alert?.type}]]*/ 'default';
        if (isShowAlert) {
            showAlert(type, title, message);
        }
    }

    /*]]>*/
</script>

<script>
    $('#election-registration-modal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let modalTitle = button.data('title');
        let formType = button.data('formtype');
        let id = button.data('id');
        let name = button.data('name');
        let year = button.data('year');
        let seats = button.data('seats');
        let startTime = button.data('starttime');
        let endTime = button.data('endtime');
        let modal = $(this);
        modal.find('.modal-title').text(modalTitle);
        modal.find('#formId').val(id);
        modal.find('#formType').val(formType);
        modal.find('#name').val(name);
        modal.find('#year').val(year);
        modal.find('#maxSeats').val(seats);

        if (formType!=0){
            let st = new Date(startTime);
            st.setMinutes(st.getMinutes() - st.getTimezoneOffset());
            let et = new Date(endTime);
            et.setMinutes(et.getMinutes() - et.getTimezoneOffset());
            modal.find('#startTime').val(st.toISOString().slice(0, 16));
            modal.find('#endTime').val(et.toISOString().slice(0, 16));
        }
    });
</script>

<script>
    $('#election-add-candidates-modal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let electionId = button.data('electionid');
        let modal = $(this);
        modal.find('#electionId').val(electionId);
        document.getElementById('election').value = electionId;
    });
</script>
</body>
</html>
