<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voting Form</title>

    <div th:replace="fragments/layout-fragments::styles"></div>

</head>
<body class="hold-transition">
<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper p-lg-5" style="margin-left: 0;">
        <!-- Content Header (Page header) -->
        <div th:replace="fragments/layout-fragments::page_header(title=${page_details.getHeader()})"></div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-id-card-alt mr-1"></i>
                                    Voting Form
                                </h3>
                                <!--                                <div class="card-tools">-->
                                <!--                                    <ul class="nav nav-pills ml-auto">-->
                                <!--                                        <li class="nav-item">-->
                                <!--                                            <button type="button" class="btn btn-info float-right"-->
                                <!--                                                    data-toggle="modal" data-target="#candidate-registration-modal"><i-->
                                <!--                                                    class="fas fa-user-plus"></i> Add Candidate-->
                                <!--                                            </button>-->
                                <!--                                        </li>-->
                                <!--                                    </ul>-->
                                <!--                                </div>-->
                            </div>
                            <!-- /.card-header -->
                            <form th:action="@{vote-request}" method="post">
                                <input type="text" hidden name="electionId" th:value="${election.getId()}">
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Political Party</th>
                                            <th>Number</th>
                                            <th>Full Name</th>
                                            <th>Vote</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:id="'el_table_row_'+${ec.getId()}"
                                            th:each="ec,iterationStatus:${ecs}">
                                            <td></td>
                                            <td th:text="${ec.getElectionParty().getNameToDisplay()}"></td>
                                            <td th:text="${ec.getElectionNumber()}"></td>
                                            <td th:text="${ec.getFullName()}"></td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="electionCandidates" th:value="${ec.getElectionCandidateId()}" type="checkbox" onchange="addValue(this.value)">
                                                        <!--                                                    <label class="form-check-label">Vote</label>-->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="voteForm" hidden>
                                    <div class="row m-2">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-success btn-lg form-control">SAVE</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div id="voteForm2" hidden>
                                <div class="row m-2">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-danger btn-lg form-control">CANCEL MY VOTE
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

</div>
<!-- ./wrapper -->

<div th:replace="fragments/layout-fragments::scripts"></div>
<!-- Page specific script -->
<!--Web Socket-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script th:src="@{js/notification.js}"></script>
<!--Web Socket-->

<script>
    $(function () {
        // $("#example1").DataTable({
        //     "responsive": true, "lengthChange": false, "autoWidth": false,
        //     "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        // }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example1').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    let isAlertSet = /*[[${alert !=null }]]*/ false;

    if (isAlertSet) {
        var isShowAlert = /*[[${alert?.show}]]*/ 'default';
        var title = /*[[${alert?.header}]]*/ 'default';
        var message = /*[[${alert?.message}]]*/ 'default';
        var type = /*[[${alert?.type}]]*/ 'default';
        if (isShowAlert) {
            showAlert(type, title, message);
        }
    }

    /*]]>*/
</script>
<script>
    $(document).ready(function () {
        let vt = localStorage.getItem('vt');
        if (vt == 1) {
            setVisibleTrue();
        } else {
            setVisibleFalse();
        }
    });

    function setVisibleFalse() {
        document.getElementById('voteForm').hidden = true;
        document.getElementById('voteForm2').hidden = true;
    }

    function setVisibleTrue() {
        document.getElementById('voteForm').hidden = false;
        document.getElementById('voteForm2').hidden = false;
    }
</script>
<script>
    function addValue(value){
        let values = document.getElementById('ids').value;
        let split = values.split(',');
        if (split)
        for (let i=0;i<split.length;i++){

        }
    }
</script>
</body>
</html>
